# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# Temporary Files
*.tmp
*.bak